/* * * * * * * * * * * * * * * *
* BEM - BLOCK ELEMENT MODIFIER
* * * * * * * * * * * * * * * */


//Element
@mixin e($element) {
  &__#{$element} {
    @content;
  }
}

//Modifier
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
  }
}

