/* * * * * * * * * * * * * *
* STANDARD BUTTONS
* * * * * * * * * * * * * */

@mixin btn($height, $width) {
  width: $width + px;
  height: $height + px;
  background: #fe2f12;
  border: 1px solid #dc3c35;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: color .5s ease-out;
  box-shadow: inset 0 0 1px #fff;

  &:hover {
    box-shadow: inset 0 3px 10px #fff;
  }

  .price {
    border-right: 1px solid #cf1d17;
    padding: 5px 9px;
    &:after {
      content: "$";
    }
  }
  .click {
    margin-left: 19px;
  }
  .click:after {
    content: "\003e";
    font-weight: bold;
    padding-left: 10px;
  }
}

/*
.btn-default {
  @include btn(36, 220);
}

.btn-default-small {
  @include btn(29, 176);
}
*/

