@font-face {
  font-family: FuturaStdBold;
  src: url("../fonts/futurastd-bold-opentype.otf") format("opentype");
}

@font-face {
  font-family: FuturaStdLigth;
  src: url("../fonts/futurastd-light-opentype.otf") format("opentype");
}

@mixin logo($fontsize, $color, $spancolor) {
  font-family: FuturaStdBold, sans-serif;
  font-size: $fontsize + px;
  color: $color;

  span {
    font-family: FuturaStdLigth, sans-serif;
    color: $spancolor;
  }
}

/* Standard font */
@mixin font($size:14, $weight:400, $transform:none) {
  font-size: $size + px;
  font-weight: $weight;
  text-transform: $transform;
}