/* * * * * * * * * * * * * *
* DEFAULT CSS FOR WEBSITE
* * * * * * * * * * * * * */

$bgcolor: #f2f2f2;
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700';

* {
  box-sizing: border-box;
}
.reset {
  font-family: 'Source Sans Pro', sans-serif;
  @include font();
  padding: 0;
  margin: 0;
}
body {
  @extend .reset;
  background-color: $bgcolor;
}

.inner {
  display: inline-block;
  vertical-align: middle;
}

.header {
  min-height: 208px;
}