<div class="wrapper text-center">
    <strong>Morten and Bernie ... jep I know ... this design is not that beautiful - but hey - it works! :D</strong>

    <hr />

    <div class="contact" [hidden]="submitted">

        <form (ngSubmit)="sendmail()" novalidate #emailForm="ngForm">
            <label for="name">Name:</label>
            <input type="text" #fullname="ngModel" id="name" name="fullname" [(ngModel)]="contact.fullname" required>
            <p [hidden]="fullname.valid || fullname.pristine ">Your name is not correct typed</p>

            <label for="email">Email</label>
            <input
                    type="email"
                    id="email"
                    name="email"
                    [(ngModel)]="contact.email"
                    #spyEmail
                    #email="ngModel"
                    required
                    pattern="^(([a-zA-Z]|[0-9])|([-]|[_]|[.]))+[@](([a-zA-Z0-9])|([-])){2,63}[.](([a-zA-Z0-9]){2,63})+$">
            <p [hidden]="email.valid || email.pristine ">Email is invalid</p>

            <label for="message">Message</label>
            <textarea type="text" #message="ngModel" id="message" name="message" [(ngModel)]="contact.message"
                      required pattern="^[a-z A-Z]{10,250}$" cols="20" rows="20"></textarea>

            <p [hidden]="message.valid || message.pristine ">Min 10 char and max 250 char</p>

            <button [disabled]="!emailForm.valid">Send mail</button>
        </form>

    </div>
    <div [hidden]="!submitted" class="contact">
        <h3>Thank you, {{ contact.fullname }}</h3>
        We will respond as fast as possible to {{ contact.email }}
        <hr />
        The copy of your message: <br />
        {{ contact.message}}
    </div>
</div>
