<!-- Featured -->
<div class="wrapper">
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="featured">
                <div class="featured__title">Woman</div>
                <div class="featured__images">
                    <img src="assets/img/woman.png" alt="" class="featured__images__product"/>
                    <img src="assets/icons/i_shoe3.png" alt="" class="featured__images__icon"/>
                </div>
                <div class="featured__title--sub">Total</div>
                <div class="featured__count">357 products</div>
                <a href="#">
                    <div class="featured__more"></div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="featured">
                <div class="featured__title">Man</div>
                <div class="featured__images">
                    <img src="assets/img/men.png" alt="" class="featured__images__product"/>
                    <img src="assets/icons/i_shoe.png" alt="" class="featured__images__icon"/>
                </div>
                <div class="featured__title--sub">Total</div>
                <div class="featured__count">416 products</div>
                <a href="#">
                    <div class="featured__more"></div>
                </a>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="featured">
                <div class="featured__title">Kids</div>
                <div class="featured__images">
                    <img src="assets/img/kid.png" alt="" class="featured__images__product"/>
                    <img src="assets/icons/i_shoe2.png" alt="" class="featured__images__icon"/>
                </div>
                <div class="featured__title--sub">Total</div>
                <div class="featured__count">232 products</div>
                <a href="#">
                    <div class="featured__more"></div>
                </a>
            </div>
        </div>
    </div>
</div>
