<div class="box wrapper">
    <div class="box__title">FILTER</div>
    <div class="box__container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div class="brands">
                    <div class="brands__title">Brands</div>
                    <ul class="brands__list">
                        <li class="brands__list__item">adidas</li>
                        <li class="brands__list__item">nike</li>
                        <li class="brands__list__item">camper</li>
                        <li class="brands__list__item">superga</li>
                        <li class="brands__list__item">timberland</li>
                        <li class="brands__list__item">new balance</li>
                        <li class="brands__list__item">converse</li>
                        <li class="brands__list__item">puma</li>
                        <li class="brands__list__item">kinetix</li>
                        <li class="brands__list__item">tiger</li>
                        <li class="brands__list__item">lacoste</li>
                        <li class="brands__list__item">reebok</li>
                        <li class="brands__list__item">cat</li>
                        <li class="brands__list__item">dockers</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="featured-small">
                            <div class="featured-small__title">Woman</div>
                            <div class="featured-small__images">
                                <img src="assets/img/woman.png" alt="" class="featured-small__images__product"/>
                                <img src="assets/icons/i_shoe3.png" alt="" class="featured-small__images__icon"/>
                            </div>
                            <div class="featured-small__title--sub">Total</div>
                            <div class="featured-small__count">357 products</div>
                            <a href="#">
                                <div class="featured-small__more"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="featured-small">
                            <div class="featured-small__title">Man</div>
                            <div class="featured-small__images">
                                <img src="assets/img/men.png" alt="" class="featured-small__images__product"/>
                                <img src="assets/icons/i_shoe.png" alt="" class="featured-small__images__icon"/>
                            </div>
                            <div class="featured-small__title--sub">Total</div>
                            <div class="featured-small__count">416 products</div>
                            <a href="#">
                                <div class="featured-small__more"></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="featured-small">
                            <div class="featured-small__title">Kids</div>
                            <div class="featured-small__images">
                                <img src="assets/img/kid.png" alt="" class="featured-small__images__product"/>
                                <img src="assets/icons/i_shoe2.png" alt="" class="featured-small__images__icon"/>
                            </div>
                            <div class="featured-small__title--sub">Total</div>
                            <div class="featured-small__count">232 products</div>
                            <a href="#">
                                <div class="featured-small__more"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="colorselector">
                    <p class="colorselector__title">Select color</p>
                    <div class="colorselector__list">
                        <div class="colorselector__list__item" [ngStyle]="{'background-color': color}"
                             *ngFor="let color of colors"></div>
                    </div>
                </div>
                <div class="pricerange">
                    <div class="slider"></div>
                </div>
            </div>
        </div>
    </div>
</div>