<footer class="footer wrapper-full">
    <div class="wrapper">
        <div class="footer__logo">BRAND <span>LOGO</span></div>
        <nav class="footer__nav">
            <ul class="footer__list">
                <li class="footer__list__item"><a href="#">About Us</a></li>
                <li class="footer__list__item"><a href="#">Faq</a></li>
                <li class="footer__list__item"><a href="#">Terms and Conditions</a></li>
                <li class="footer__list__item"><a href="#">Secure Payments</a></li>
                <li class="footer__list__item"><a href="#">Shipping</a></li>
                <li class="footer__list__item"><a href="#">Contact</a></li>
            </ul>
        </nav>
        <img src="./assets/icons/footer/pinterest.svg" class="footer__icons"/>
        <img src="./assets/icons/footer/twitter.svg" class="footer__icons"/>
        <img src="./assets/icons/footer/facebook.svg" class="footer__icons"/>
    </div>
</footer>