<div class="slideshow wrapper-full">
    <button class="slideshow__prev" onclick="plusDivs(-1)">&#10094;</button>
    <button class="slideshow__next" onclick="plusDivs(1)">&#10095;</button>
    <div class="wrapper slideshow__image">
        <div class="slideshow__content" data-img="shoe.png">
            <h1 class="slideshow__content__title">WILL HELM</h1>
            <h2 class="slideshow__content__title--sub">WINTER</h2>
            <button class="slideshow__content__button">
                <span class="price">99.90</span>
                <span class="click">GET NOW</span>
            </button>
        </div>
        <div class="slideshow__content" data-img="shoe/nike/1.jpg">
            <h1 class="slideshow__content__title">NIKE</h1>
            <h2 class="slideshow__content__title--sub">Hey</h2>
            <button class="slideshow__content__button">
                <span class="price">15.70</span>
                <span class="click">GET NOW</span>
            </button>
        </div>
        <div class="slideshow__content" data-img="shoe/adidas/1.png">
            <h1 class="slideshow__content__title">ADIDAS</h1>
            <h2 class="slideshow__content__title--sub">VIGAN</h2>
            <button class="slideshow__content__button">
                <span class="price">99.90</span>
                <span class="click">GET NOW</span>
            </button>
        </div>
    </div>
</div>
