<header class="header wrapper-full">
    <div class="wrapper">
        <div class="row">
            <div class="col-xs-12">
                <div class="contact-snippet contact-snippet--right">
                    <span class="contact-snippet__phone"></span> <a href="tel:0902234466">090 - 223 44 66</a>
                    <span class="contact-snippet__email"></span> <a href="mailto:help@trendd.com">help@trendd.com</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-8">
                <div class="site-logo">
                    <a (click)="goFrontpage()"><h1 class="site-logo__title">BRAND <span>LOGO</span></h1></a>
                </div>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class="basket-nav">
                    <div class="basket-nav__basket">
                        <a href="#"><img src="assets/icons/cart.png"></a>
                    </div>
                    <div class="basket-nav__login">
                        <a href="#">Login</a>
                    </div>
                    <button class="basket-nav__register">Register</button>
                </div>
            </div>
        </div>
        <nav class="nav-main nav-main--ontop">
            <ul class="nav-main__list">
                <li class="nav-main__list__item"><a href="" routerLink="/">Products</a></li>
                <li class="nav-main__list__item"><a href="" routerLink="/">Campaigns</a></li>
                <li class="nav-main__list__item"><a href="" routerLink="/">Services</a></li>
                <li class="nav-main__list__item"><a href="" routerLink="/">Brands</a></li>
                <li class="nav-main__list__item"><a href="" routerLink="/contact">About us</a></li>
            </ul>
            <form class="nav-main__form">
                <input class="nav-main__form__input" type="text" placeholder="Search"/>
            </form>
        </nav>
    </div>
</header>