<div class="singleproduct wrapper">
    <h1 class="singleproduct__title">{{ product.title }}</h1>
    <h2 class="singleproduct__title--sub">{{ product.subtitle }}</h2>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="singleproduct__image">
                <img src="assets/img/shoe/{{ product.getIntroImage() }}" alt="Test" class="singleproduct__image--big img-responsive">
                <img src="assets/img/shoe/{{ product.logo }}" alt="Test" class="singleproduct__image--logo">
            </div>
            <div class="singleproduct__imagelist">
                <img class="singleproduct__imagelist__item" src="assets/img/shoe/{{img}}" *ngFor="let img of product.images" />
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="row">
                <div class="col-xs-12 col-lg-9">
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <div class="singleproduct__rating">
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5"/>
                                    <label class="full" for="star5" title="5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4"/>
                                    <label class="full" for="star4" title="4 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3"/>
                                    <label class="full" for="star3" title="3 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2"/>
                                    <label class="full" for="star2" title="2 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1"/>
                                    <label class="full" for="star1" title="1 star"></label>
                                </fieldset>
                                <a href="#" class="singleproduct__rating__link">Read 8 Reviews</a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-7">
                            <div class="singleproduct__price singleproduct__price--old text-center">{{ product.price }}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="singleproduct__price singleproduct__price--new text-center">{{ product.getPrice() }}</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-3">
                    <div class="singleproduct__saveoffer">
                        <img src="assets/img/pig.png" alt="Save money" class="singleproduct__saveoffer__pig">
                        <div class="singleproduct__saveoffer__percent">{{ product.calcDiscount() | number:'.2-2'}}</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="singleproduct__order text-right">
                        <div class="singleproduct__order__description">
                            {{ product.description }}
                        </div>
                        <div class="singleproduct__order__shipping">
                            <img src="assets/img/shipping.png" alt="" class="inner">
                            <div class="singleproduct__order__shipping__info inner">
                                <p *ngIf="product.shipping == 0">Free shipping</p>
                                <p *ngIf="product.shipping > 0">{{ product.shipping | currency:'USD':true:'1.2-2'}}</p>
                            </div>
                        </div>
                        <form class="singleproduct__order__form">
                            <ul>
                                <li>
                                    <label for="size" class="singleproduct__order__size__label">Select size</label>
                                    <select class="singleproduct__order__form__size" id="size">
                                        <option value="{{ size }}" *ngFor="let size of product.sizes">{{ size }}</option>
                                    </select>
                                </li>
                                <li>
                                    <label for="qty">Qty</label>
                                    <input type="number" id="qty" #qty class="singleproduct__order__form__qty"
                                           placeholder="0" min="0" max="{{ product.instock }}"/>
                                </li>
                            </ul>
                            <button class="singleproduct__order__form__btn" (click)="addToCart(product,qty.value)">Add to cart</button>
                        </form>
                        <div class="share-socialmedia share-socialmedia--float-right">
                            <div class="share-socialmedia__field">share this:</div>
                            <div class="share-socialmedia__buttons">
                                <img src="assets/icons/fb.png" class="share-socialmedia__img">
                                <img src="assets/icons/twitter.png" class="share-socialmedia__img">
                                <img src="assets/icons/email.png" class="share-socialmedia__img">
                                <img src="assets/icons/print.png" class="share-socialmedia__img">
                                <img src="assets/icons/ekstra.png" class="share-socialmedia__img">
                                <div class="share-socialmedia__total">1.8M</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tabs -->
<div class="tabs wrapper">
    <ul class="tabs__list">
        <a *ngFor="let item of product.tabs">
            <li class="{{item.slug}} tabs__list__item tabslistitem">{{item.title}}</li>
        </a>
    </ul>
    <div id="{{item.slug}}" class="tabs__single data-tab" *ngFor="let item of product.tabs" [innerHTML]="item.content">
    </div>
</div>