<div class="wrapper">
    <div class="products">
        <nav class="products__nav">
            <p class="products__nav__title">Special <span>Products</span></p>
            <p class="products__nav__readmore"><a href="#">show all products</a></p>
        </nav>
        <div class="products__list">
            <div class="products__list__item" *ngFor="let product of products">
                <div class="products__list__item__logo"><img src="assets/img/shoe/{{ product.logo }}" alt=""/></div>
                <div class="products__list__item__product" [routerLink]="['product/', product.id]"><img src="assets/img/shoe/{{ product.getIntroImage() }}" alt=""/></div>
                <p class="products__list__item__desc">{{ product.subtitle }}</p>
                <div class="products__list__item__detail">
                    <button class="products__button" [routerLink]="['product/', product.id]">
                        <span class="price">{{ product.getPrice() }}</span>
                        <span class="click">GET NOW</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>