.basket-nav {
  .nested {
    width: 78px;
    height: 38px;
    padding-top: 10px;
    float: left;
  }
  background-color: #fff;
  min-height: 56px;
  min-width: 150px;
  margin-left: -22px;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  padding: 9px 0 0 0;
  overflow: auto;
  list-style-type: none;

  &:after {
    float: none;
    clear: both;
  }

  @include e(basket) {
    @extend .nested;
    padding-left: 25px;
    border-right: 1px solid #e0e0e0;

    img {
      width: 20px;
      height: 20px;
    }
  }
  @include e(login) {
    @extend .nested;
    padding-left: 8px;

    a {
      border-bottom: 1px solid #272727;
      font-size: 18px;
      text-transform: uppercase;
      transition: background-color 0.5s ease;
    }
    a:hover {
      background: #f2f2f2;
    }
  }

  @include e(register) {
    width: 167px;
    height: 41px;
    margin: -2px 0 0 0;
    padding: 8px;
    background-image: linear-gradient(to bottom right, #f55957, #ff322d 50%);
    box-shadow: 0 1px 4px 0 #ffffff inset;
    border-radius: 5px;
    border: 0;
    float: left;
    text-align: center;
    cursor: pointer;
    outline: none;

    &:after {
      content: "\003e";
      padding-left: 18px;
    }

    @include font(22, 400, uppercase);
    color: #fff;

    &:hover {
      box-shadow: inset 0 3px 10px #fff;
    }

    a {
      @include font(22, 400, uppercase);
      color: #fff;
      &:after {
        content: "\003e";
        padding-left: 18px;
      }
    }
  }
}