.box {
  margin-top: 16px;
  margin-bottom: 40px;

  @include e(title) {
    @include font(18, 700, uppercase);
    background-color: #000;
    color: #fff;
    margin-bottom: 2px;
    margin-left: 15px;
    padding: 8px 0 7px 14px;
    width: 94px;
  }

  @include e(container) {
    background-color: #fff;
    border: 1px solid #e9e9e9;
    @include m(inner) {
      padding: 29px;
    }
  }
}