.brands {
  overflow: auto;

  @include e(title) {
    padding: 34px 0 17px 57px;
    @include font(18, 400, uppercase);
  }
  @include e(list) {
    list-style-type: none;
    padding: 0;
    margin: 0;
    columns: 2;
    text-align: right;
    column-rule: 1px solid #edecec;

    @include e(item) {
      width: 80px;
      padding-bottom: 8px;
      @include font(13, 400, lowercase);
    }
  }
}