.colorselector {
  margin-top: 55px;

  @include e(title) {
    @include font(18, 400, uppercase);
    margin-bottom: 15px;
  }

  @include e(list) {
    max-width: 200px;
    margin-bottom: 30px;
    @include e(item) {
      display: inline-block;
      width: 19px;
      height: 19px;
    }
  }
}

@media screen and (max-width: 960px) {
  .colorselector {
    text-align: center;
    @include e(list) {
      max-width: 100%;
      @include e(item) {
        width: 35px;
        height: 35px;
        margin-right: 10px;
      }
    }
  }
}