.contact {
  width: 600px;
  margin-top: 25px;
  margin-bottom: 200px;

  input, textarea {
    padding: 5px;
    width: 471px;
    font-family: Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 0 0 10px 0;
    border: 2px solid #ccc;
  }
  textarea {
    height: 90px;
    &:focus {
      border: 2px solid #900;
    }
  }
  input {
    &:focus {
      border: 2px solid #900;
    }
  }

  button {
    width: 100px;
    float: right;
  }

  label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
    padding-top: 5px;
    font-size: 1.4em;
  }

}

