.contact-snippet {
  padding-top: 20px;
  font-size: 14px;
  margin-bottom: 20px;

  @media (max-width: 960px) {
    text-align: center;
  }

  @include m(right) {
    text-align: right;
  }

  @include e(phone) {
    background: url('../icons/phone-receiver.svg') no-repeat;
    padding-right: 25px;
    width: 15px;
  }
  @include e(email) {
    background: url('../icons/close-envelope.svg') no-repeat;
    margin-left: 25px;
    padding-right: 25px;
    width: 15px;
  }
}

/*
@media screen and (max-width: 960px) {
  .contact-snippet {
    text-align: center;
  }
}*/
