/* * * * * * * * * * * * * *
* FEATURED CONTENT - FRONTPAGE
* * * * * * * * * * * * * */

@mixin feat($size) {
  $big: false;

  @if ($size == big) {
    $big: true;
  }

  width: 100%;
  background: #fff;
  text-align: center;
  @if ($big) {
    margin: 45px 0 60px 0;
  }

  @include e(images) {
    position: relative;

    @include e(product) {
      border-radius: 50%;

      @if ($big) {
        max-width: 172px;
        height: 172px;
      } @else {
        max-width: 100px;
        height: 100px;
      }
    }
    @include e(icon) {
      @if ($big == false) {
        width: 50%;
      }
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: invert(100%);
      opacity: 0.9;
    }
  }
  @include e(title) {
    @if ($big) {
      @include font(40, 300, uppercase);
      padding-top: 35px;
      padding-bottom: 18px;
    } @else {
      @include font(24, 300, uppercase);
      padding-top: 40px;
      padding-bottom: 8px;
    }
    margin: 0;
    @include m(sub) {
      @if ($big) {
        @include font(25, 300, uppercase);
        padding: 24px 0 8px 0;
      } @else {
        @include font(14, 300, uppercase);
        padding-top: 5px;
        padding-bottom: 5px;
      }
      margin: 0;
      color: #f2262c;
    }
  }
  @include e(count) {
    @if ($big) {
      padding-bottom: 10px;
    } @else {
      margin: 0;
      padding-bottom: 5px;
    }
    @include font(15, 300, uppercase);
  }
  @include e(more) {
    &:before {
      content: '\2630';
    }
    padding-bottom: 15px;
  }
}

.featured {
  @include feat(big);
}

.featured-small {
  @include feat(small);
}
