.footer {
  background-color: #f2262c;
  min-height: 144px;
  padding-top: 60px;

  @include e(logo) {
    @extend .inner;
    @include logo(30, #fff, #fff);
  }
  @include e(nav) {
    @extend .inner;
  }

  @include e(list) {
    list-style-type: none;
    padding: 0 0 0 40px;
    margin: 0;

    @include e(item) {
      display: inline-block;
      a, a:link, a:visited, a:hover, a:active {
        color: #fff;
        @include font(15, 100);
      }

      @include m(disable) {
        font-size: 20px;
      }
      &:after {
        content: "|";
        color: #fff;
        padding: 10px;
      }
      &:last-child:after {
        content: "";
      }
    }
  }
  @include e(icons) {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    filter: invert(100%);
    border-radius: 5px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 960px) {
  .footer {
    .inner {
      display: block;
      text-align: center;
    }
    @include e(nav) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    @include e(icons) {
      display: none;
      color: blue;
    }
  }
}