.nav-main {
  min-height: 73px;
  width: 100%;
  background: #fefefe;
  background: linear-gradient(#ffffff, #f7f7f7);
  border: 1px solid #c8d9c8;

  @include m(ontop) {
    z-index: 10;
    position: relative;
  }

  @include e(list) {
    display:inline-block;
    vertical-align:middle;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @include e(item) {
      display: inline-block;
      margin-top: 15px;
      @include font(24, 400, uppercase);
      padding-left: 15px;
      &:after {
        content: "";
        border: 1px solid #cfc8bc;
        margin-left: 15px;
      }
      &:last-child:after {
        border: none;
        margin-right: 40px;
      }
    }
  }
  @include e(form) {
    display:inline-block;
    vertical-align:middle;
    margin-top: 25px;

    @include e(input) {
      width: 200px;
      background: url('../icons/search.svg') no-repeat 10px 5px;
      background-size: auto 15px;
      border: 1px solid #cfc8bc;
      border-radius: 15px;
      padding-right: 5px;
      cursor: pointer;
      height: 25px;
      outline: none;
      padding-left: 35px;
    }
  }
}

@media screen and (max-width: 960px) {
  .nav-main {
    margin-top: 10px;
    @include e(list) {
      width: 100%;
      @include e(item) {
        width: 100%;
        text-align: center;
        display: inline-block;
        border-bottom: 1px solid #ccc;

        &:after {
          content: "";
          border: none;
          margin: 0;
        }
        &:last-child:after {
          margin: 0;
        }
      }
    }
    @include e(form) {
      width: 100%;
      text-align: center;
      margin: 20px auto 20px;

      @include e(input) {
        width: 100%;
        max-width: 450px;
        background: url('../icons/search.svg') no-repeat 10px 15px;
        background-size: auto 15px;
        font-size: 20px;
        height: 50px;
        padding-left: 35px;
      }
    }
  }
}