.pricerange {
  margin-bottom: 10px;

  @media (max-width: 960px) {
    display: none;
  }

  @include e(title) {
    @include font(18, 400, uppercase);
    margin-bottom: 15px;
  }
}

.slider {
  max-width: 190px;
}
.noUi-connect {
  background: #da0b12!important;
}

.noUi-tooltip {
  background: #da0b12!important;
  color: #fff;
  margin-left: -10px!important;
}
.noUi-horizontal .noUi-handle {
  left: 0!important;
}
.noUi-horizontal .noUi-handle-lower .noUi-tooltip {
  top: 17px!important;
}
.noUi-handle {
  border-radius: 50%!important;
  height: 15px!important;
  width: 15px!important;
  &:after {
    content: none!important;
  }
  &:before {
    content: none!important;
  }
}
.noUi-horizontal {
  height: 6px!important;
}

/*
@media screen and (max-width: 960px) {
  .pricerange {
    display: none;
  }
}*/
