.products {
  margin: 0 5px 108px 5px;

  @include e(nav) {
    display: flex;
    justify-content: space-between;
    min-height: 60px;

    @include e(title) {
      display: flex;
      align-self: center;
      width: 40%;
      @include font(23, 400, uppercase);
      span {
        color: #f2262c;
      }
    }
    @include e(readmore) {
      display: flex;
      align-self: center;
      font-style: italic;
      &:before {
        content: "\22B3  ";
      }
    }
  }

  @include e(list) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @include e(item) {
      background: #fefefe;
      border-radius: 8px;
      border: 1px solid #e0e0e0;
      width: 230px;
      height: 332px;
      margin-bottom: 10px;
      margin-right: 7px;
      overflow: hidden;

      @media (max-width: 960px) {
        max-width: 100%;
      }

      &:hover {
        border-color: #fe2323;
      }

      @include e(logo) {
        margin-top: 13px;
        margin-bottom: 65px;
        text-align: center;

        img {
          width: 100%;
          max-width: 60px;
          max-height: 30px;
          height: 100%;
        }
      }
      @include e(product) {
        width: 100%;
        margin-bottom: 25px;
        text-align: center;
        position: relative;
        img {
          max-width: 200px;
          max-height: 120px;
          padding-bottom: 10px;
          border-bottom: 1px solid #e1e0df;
        }
      }
      @include e(desc) {
        width: 100%;
        height: 36px;
        font-size: 17px;
        text-align: center;
        overflow: hidden;
        word-wrap: break-word;
        text-overflow: ellipsis;
        line-height: 18px;
        max-height: 38px;
        margin: 5px 0;
      }
      @include e(detail) {
        text-align: center;
        width: 100%;
      }
    }
  }

  @include e(button) {
    @include btn(29, 190);
  }
}

/*
@media screen and (max-width: 960px) {
  .products {
    @include e(list) {
      @include e(item) {
        min-width: 100%;
      }
    }
  }
}*/
