.share-socialmedia {
  width: 170px;
  height: 55px;
  margin-top: 50px;
  text-align: right;
  display: block;

  @media (max-width: 960px) {
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
  }

  @include m(float-right) {
    float: right;
    &:after {
      float: none;
      clear: both;
    }
  }

  @include e(field) {
    display: block;
    @include font(12.5, 400, capitalize);
    padding-bottom: 5px;
  }
  @include e(buttons) {
    width: 100%;
    min-height: 30px;
    padding: 8px 11px 6px 5px;
    background-color: #fff;
    border-radius: 3px;
  }
  @include e(img) {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    border-radius: 1px;
    display: inline-block;
    vertical-align: middle;
  }
  @include e(total) {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 16px;
    text-align: right;
    @include font(12, 400);
    border: 1px solid #c2c2c2;
  }
}

/*
@media screen and (max-width: 960px) {
  .share-socialmedia {
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
  }
}
*/
