/* * * * * * * * * * * * * * * *
* SINGLE PRODUCT - DETAIL PAGE
* * * * * * * * * * * * * * * */

.singleproduct {
  @include e(title) {
    @include font(34);
    margin: 0;
    padding: 0;

    @include m(sub) {
      @include font(22);
      margin: 0 0 15px;
      padding: 0;
    }
  }

  @include e(image) {
    width: 100%;
    max-width: 470px;
    height: 400px;
    background: #fff;
    position: relative;
    margin-bottom: 8px;

    @include m(big) {
      position: absolute;
      margin: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      max-height: 280px;
    }

    @include m(logo) {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,0);
      max-height: 45px;
      max-width: 200px;
    }

  }

  @include e(imagelist) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;

    @include e(item) {
      width: 150px;
      height: 120px;
      padding: 15px 8px;
      margin-bottom: 10px;
      background: #fff;
      border: 1px solid #ddd;

      @include m(active) {
        border: 8px solid #e82e33;
      }
    }
  }

  @include e(rating) {
    width: 100px;
    @include e(link) {
      font-size: 11px;
      border-bottom: 1px solid #000;
    }

    fieldset, label {
      margin: 0;
      padding: 0;
    }

    .rating {
      border: 0;
      float: right;
    }

    .rating > input {
      display: none;
    }

    .rating > label:before {
      height: 20px;
      width: 20px;
      font-size: 1.25em;
      display: inline-block;
      content: "\2605";
    }

    .rating > label {
      color: #ddd;
      float: right;
    }

    .rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
      color: #e61e24;
    }

    .rating > input:checked + label:hover,
    .rating > input:checked ~ label:hover,
    .rating > label:hover ~ input:checked ~ label,
    .rating > input:checked ~ label:hover ~ label {
      color: #e61e24;
    }
  }
  @include e(price) {
    @include m(old) {
      @include font(28, 100);
      width: 135px;
      height: 32px;
      background-color: #e71f25;
      color: #fff;
      text-decoration: line-through;
      margin-left: 40px;
      margin-top: 5px;
    }
    @include m(new) {
      @include font(60, 100);
      width: 100%;
      max-width: 320px;
      border: 1px solid #e5e5e5;
      height: 70px;
      background-color: #fff;
      margin-top: 3px;
      &:after {
        content: "$";
      }
    }
  }
  @include e(saveoffer) {
    text-align: center;
    @include e(pig) {
      width: 75px;
      height: 75px;
      display: inline-block;
    }
    @include e(percent) {
      @include font(18);
      &:before {
        content: "save ";
      }
      &:after {
        content: "%";
      }
    }
  }

  @include e(order) {
    margin-top: 10px;
    padding: 10px 5px;
    border-top: 1px solid #cfc8bc;

    @include e(description) {
      margin-bottom: 35px;
    }
    @include e(shipping) {
      margin-bottom: 20px;
      @include e(info) {
        @include font(18, 400);
      }
    }
    @include e(form) {
      label, input {
        display: block;
        text-align: left;
      }
      li {
        display: inline-block;
        &:first-child {
          margin-right: 20px;
        }
      }
      @include e(size) {
        width: 100%;
        max-width: 140px;
        height: 35px;
        padding: 0 14px 0 10px;
        @include font(12, 400);
        border-radius: 5px;
        border: 1px solid #ccc;

      }
      @include e(qty) {
        width: 100%;
        max-width: 60px;
        height: 35px;
        padding: 14px;
        @include font(12, 400);
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      @include e(btn) {
        @include btn(50, 205);
        @include font(24, 100);
        background-color: #ee3323;
        border: none;
        border-radius: 4px;
        height: 50px;
        width: 205px;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .singleproduct {
    @include e(rating) {
      display: none;
    }
    @include e(saveoffer) {
      display: none;
    }
    @include e(price) {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
    @include e(order) {
      @include e(shipping) {
        text-align: center;
      }
      @include e(form) {
        text-align: center;

        @include e(size) {
          width: 100%;
          display: block;
        }
        @include e(btn) {
          width: 100%;
        }
      }
    }
  }
}