.site-logo {
  margin-bottom: 37px;
  @media (max-width: 960px) {
    width: 100%;
    text-align: center;
  }

  @include e(title) {
    padding: 0;
    margin: 0;
    @include logo(58, #ee3023, #201f1f);
  }
}

/*
@media screen and (max-width: 960px) {
  .site-logo {
    width: 100%;
    text-align: center;
  }
}*/
