/* * * * * * * * * * * * * *
* SLIDESHOW
* * * * * * * * * * * * * */
@mixin arrow-container($float) {
  height: 64px;
  width: 64px;
  font-size: 40px;
  background: #e5f2e1;
  border-radius: 50%;
  border: 5px solid rgba(58, 66, 55, 1);
  position: absolute;
  top: 50%;
  outline: none;
  color: #644b39;

  @if ($float == left) {
    left: 10px;
  } @else {
    right: 10px;
  }
}

.slideshow {
  position: relative;
  margin-top: -36px;
  height: 540px;
  background: #9ccd8d;

  @media (max-width: 960px) {
      display: none;
  }

  @include e(image) {
    height: 540px;
    background: url('../img/shoe.png') no-repeat right 10px bottom;
  }

  @include e(content) {
    padding-left: 50px;
    width: 270px;
    @include e(title) {
      @include font(110, 700);
      margin-bottom: 10px;
      @include m(sub) {
        color: #fff;
        @include font(68, 300);
        margin: 0;
      }
    }
    @include e(button) {
      margin-top: 28px;
      font-size: 18px;
      @include btn(36, 220);
    }
  }

  @include e(prev) {
    @include arrow-container(left);
  }
  @include e(next) {
    @include arrow-container(right);
  }
}

/*
@media screen and (max-width: 320px) {
  .slideshow {
    display: none;
  }
}*/
