@mixin fisk($display, $padding, $margin, $cursor) {
  display: $display;
  padding: $padding;
  margin: $margin;
  cursor: $cursor;
}

.tabs {
  margin-bottom: 120px;

  @include e(list) {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;

    @include m(square) {
      list-style-type: square;
    }

    @include e(item) {
      @include font(18, 400, uppercase);
      @include fisk(inline-block, 15px 25px, 0 2px 0 0, pointer);
      background-color: #fff;

      @media (max-width: 960px) {
        width: 100%;
        margin: 0;
        &:before {
          content: "- ";
        }
      }

      @include m(detail) {
        @include font(12, 400);
        @include fisk(list-item, 0 0 10px 0, 0, auto);
        color: #898989;
      }

      @include m(active) {
        background-color: #ee2d23;
        border-top: 1px solid #989898;
        color: #fff;
      }
    }
  }

  @include e(single) {
    min-height: 430px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    padding-left: 25px;
    padding-top: 25px;
  }

  @include e(header) {
    @include font(18, 400, uppercase);
    color: #666666;
  }
  @include e(subheader) {
    @include font(14, 400, uppercase);
    color: #ee2d23;
    padding-top: 10px;
  }
  @include e(text) {
    color: #898989;
  }
}

/*

@media screen and (max-width: 960px) {
  .tabs {
    @include e(list) {

      @include e(item) {
        width: 100%;
        margin: 0;
        &:before {
          content: "- ";
        }
      }
    }
  }
}*/
