
/* * * * * * * * * * * * * *
* GRID
* * * * * * * * * * * * * */

$grid_width: 100%;

.wrapper-full {
  width: $grid_width;
  margin: 0 auto;
}

.wrapper {
  width: $grid_width;
  max-width: 960px;
  margin: 0 auto;
}

.wrapper:before,
.wrapper-full:before,
.wrapper:after,
.wrapper-full:after,
.row:before,
.row:after {
  content: "";
  display: table;
}

.wrapper:after,
.wrapper-full:after,
.row:after {
  clear: both;
}

[class*='col-'] {
  width: 100%;
  float: left;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}

.row {
  /*margin-left: 5px;
  margin-right: 5px;*/
}

@media screen and (min-width: 300px) {
  .col-xs-1 {
    width: $grid_width / 12 * 1;
  }
  .col-xs-2 {
    width: $grid_width / 12 * 2;
  }
  .col-xs-3 {
    width: $grid_width / 12 * 3;
  }
  .col-xs-4 {
    width: $grid_width / 12 * 4;
  }
  .col-xs-5 {
    width: $grid_width / 12 * 5;
  }
  .col-xs-6 {
    width: $grid_width / 12 * 6;
  }
  .col-xs-7 {
    width: $grid_width / 12 * 7;
  }
  .col-xs-8 {
    width: $grid_width / 12 * 8;
  }
  .col-xs-9 {
    width: $grid_width / 12 * 9;
  }
  .col-xs-10 {
    width: $grid_width / 12 * 10;
  }
  .col-xs-11 {
    width: $grid_width / 12 * 11;
  }
  .col-xs-12 {
    width: $grid_width / 12 * 12;
  }
}

@media screen and (min-width: 640px) {
  .col-md-1 {
    width: $grid_width / 12 * 1;
  }
  .col-md-2 {
    width: $grid_width / 12 * 2;
  }
  .col-md-3 {
    width: $grid_width / 12 * 3;
  }
  .col-md-4 {
    width: $grid_width / 12 * 4;
  }
  .col-md-5 {
    width: $grid_width / 12 * 5;
  }
  .col-md-6 {
    width: $grid_width / 12 * 6;
  }
  .col-md-7 {
    width: $grid_width / 12 * 7;
  }
  .col-md-8 {
    width: $grid_width / 12 * 8;
  }
  .col-md-9 {
    width: $grid_width / 12 * 9;
  }
  .col-md-10 {
    width: $grid_width / 12 * 10;
  }
  .col-md-11 {
    width: $grid_width / 12 * 11;
  }
  .col-md-12 {
    width: $grid_width / 12 * 12;
  }
}

@media screen and (min-width: 960px) {
  .col-lg-1 {
    width: $grid_width / 12 * 1;
  }
  .col-lg-2 {
    width: $grid_width / 12 * 2;
  }
  .col-lg-3 {
    width: $grid_width / 12 * 3;
  }
  .col-lg-4 {
    width: $grid_width / 12 * 4;
  }
  .col-lg-5 {
    width: $grid_width / 12 * 5;
  }
  .col-lg-6 {
    width: $grid_width / 12 * 6;
  }
  .col-lg-7 {
    width: $grid_width / 12 * 7;
  }
  .col-lg-8 {
    width: $grid_width / 12 * 8;
  }
  .col-lg-9 {
    width: $grid_width / 12 * 9;
  }
  .col-lg-10 {
    width: $grid_width / 12 * 10;
  }
  .col-lg-11 {
    width: $grid_width / 12 * 11;
  }
  .col-lg-12 {
    width: $grid_width / 12 * 12;
  }
}